<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="fullName">名前(フルネーム):</label>
    <input type="text" id="fullName" th:field="*{student.fullName}" maxlength="30" required/>
  </div>
  <div>
    <label for="furigana">ふりがな:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" maxlength="50" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" maxlength="30"/>
  </div>
  <div>
    <label for="emailAddress">メールアドレス:</label>
    <input type="email" id="emailAddress" th:field="*{student.emailAddress}" maxlength="50" required
           style="width: 300px;"/>
  </div>
  <div>
    <label for="liveCity">住んでいる地域(市区町村まで):</label>
    <input type="text" id="liveCity" th:field="*{student.liveCity}" maxlength="50"/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="number" id="age" th:field="*{student.age}" min="18" required style="width: 50px;"/>
  </div>
  <div>
    <label>性別:</label>
    <input type="radio" th:field="*{student.gender}" value="男性"/> 男性
    <input type="radio" th:field="*{student.gender}" value="女性"/> 女性
    <input type="radio" th:field="*{student.gender}" value="その他"/> その他
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" maxlength="100"
           style="width: 400px;"/>
  </div>
  <div>
    <label for="courseName">コース名；</label>
    <select id="courseName" th:field="*{studentCourse[0].courseName}" required>
      <option value="" disabled>選択してください</option>
      <option value="Javaコース">Javaコース</option>
      <option value="AWSコース">AWSコース</option>
      <option value="フロントエンドコース">フロントエンドコース</option>
      <option value="Webマーケティングコース">Webマーケティングコース</option>
      <option value="デザインコース">デザインコース</option>
    </select>
  </div>
  <div>
    <label for="startDate">受講開始日:</label>
    <input type="date" id="startDate" th:field="*{studentCourse[0].startDate}" required/>
  </div>
  <div style="margin-top: 16px;">
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>