<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生情報更新</title>
</head>
<body>
<h1>受講生情報更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}"/>
  <div>
    <label for="fullName">名前(フルネーム):</label>
    <input type="text" id="fullName" th:field="*{student.fullName}" maxlength="30" required/>
  </div>
  <div>
    <label for="furigana">ふりがな:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" maxlength="50" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" maxlength="30"/>
  </div>
  <div>
    <label for="emailAddress">メールアドレス:</label>
    <input type="email" id="emailAddress" th:field="*{student.emailAddress}" maxlength="50" required
           style="width: 300px;"/>
  </div>
  <div>
    <label for="liveCity">住んでいる地域(市区町村まで):</label>
    <input type="text" id="liveCity" th:field="*{student.liveCity}" maxlength="50"/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="number" id="age" th:field="*{student.age}" min="18" required style="width: 50px;"/>
  </div>
  <div>
    <label>性別:</label>
    <input type="radio" th:field="*{student.gender}" value="男性"/> 男性
    <input type="radio" th:field="*{student.gender}" value="女性"/> 女性
    <input type="radio" th:field="*{student.gender}" value="その他"/> その他
  </div>
  <div>
    <label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" maxlength="100"
           style="width: 400px;"/>
  </div>
  <div>
    <label for="deleted">キャンセル:</label>
    <input type="checkbox" id="deleted" th:field="*{student.deleted}"/>
  </div>
  <div th:each="course, stat : *{studentCourse}">
    <input type="hidden" th:field="*{studentCourse[__${stat.index}__].id}"/>
    <div>
      <label>コース名：</label>
      <select th:field="*{studentCourse[__${stat.index}__].courseName}" required>
        <option value="" disabled>選択してください</option>
        <option value="Javaコース">Javaコース</option>
        <option value="AWSコース">AWSコース</option>
        <option value="フロントエンドコース">フロントエンドコース</option>
        <option value="Webマーケティングコース">Webマーケティングコース</option>
        <option value="デザインコース">デザインコース</option>
      </select>
    </div>
    <div>
      <label>受講開始日:</label>
      <input type="date" th:field="*{studentCourse[__${stat.index}__].startDate}" required/>
    </div>
    <div>
      <label>終了予定日:</label>
      <input type="date" th:field="*{studentCourse[__${stat.index}__].scheduledEndDate}" required/>
    </div>
  </div>
  <div style="margin-top: 16px;">
    <button type="submit">更新</button>
    <button type="button" onclick="window.history.back();">戻る</button>
  </div>
</form>
</body>
</html>